<div class="row">
    <div class="col-sm-offset-1">
        <label> 根据手机号或激活码查询慧掌柜激活历史信息 </label>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <form id="form_active" class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label">搜索内容</label>
                <div class="col-sm-8">
                    <input name="search_condition" type="text" class="form-control" placeholder="手机号或激活码">
                </div>
                <span class="star">*</span>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-2">
                    <input id="btn_active" type="button" class="btn btn-default" value="查询">
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <table id="tb_active" class="table table-hover">
    </table>
</div>
<script>
    $(function () {
        //------------------获取页面元素--------------------------------
        var $env_name = $("#env_name");//环境选择
        var $func_type = $("#func_type");//功能选择
        var $tb_active = $("#tb_active");//结果显示表格
        //提交
        var $btn_active = $("#btn_active");//查询
        //表单
        var $form_active = $("#form_active");
        //公共变量
        var env_name = $env_name.find("li.active a").data("value");
        var func_type = $func_type.find("option:selected").val();
        //-----------------------END-------------------------------------
        //-----------------------表格-------------------------------------
        var mytable = new MyTable($tb_active, $tb_active, $form_active);
        mytable.bootStrap.url = "/tomcat/tenantSet/operatorTenantSet";
        mytable.form_data = {
            env_name: env_name,
            func_type: func_type,
            exec_type: $btn_active.data("value")
        };
        mytable.bootStrap.columns = [{
            halign: "center",
            align: "center",
            valign: "middle",
            sortable: false,
            field: 'tenant_id',
            title: '商户id'
        }, {
            halign: "center",
            align: "center",
            valign: "middle",
            sortable: false,
            field: 'branch_id',
            title: '门店id'
        }, {
            halign: "center",
            align: "center",
            valign: "middle",
            sortable: false,
            field: 'active_mobile',
            title: '手机号'
        }, {
            halign: "center",
            align: "center",
            valign: "middle",
            sortable: false,
            field: 'activation_code',
            title: '激活码'
        }, {
            halign: "center",
            align: "center",
            valign: "middle",
            sortable: false,
            field: 'active_type',
            title: '类型',
            formatter: function (value) {
                var _re = "未知类型";
                if (value === 1) {
                    _re = "新激活";
                } else if (value === 2) {
                    _re = "重装";
                }
                return _re;
            }
        }, {
            halign: "center",
            align: "center",
            valign: "middle",
            sortable: false,
            field: 'active_create_at',
            title: '创建时间',
            formatter: function (value) {
                return moment(value).utcOffset(8).format("YYYY-MM-DD HH:ss:mm");
            }
        }, {
            halign: "center",
            align: "center",
            valign: "middle",
            sortable: false,
            field: 'device_code',
            title: '设备码'
        }];
        //-----------------------END-------------------------------------
        $btn_active.click(function () {
            $tb_active.bootstrapTable('destroy').bootstrapTable(mytable.getBootStrap());
        });
    });
</script>