<div class="container-fluid">
    <form id="form_server_add" class="form-horizontal" role="form">
        <div class="form-group">
            <label class="control-label col-sm-2">环境</label>
            <div class="col-sm-4">
                <select name="env_name" class="form-control ">
                </select>
            </div>
            <label class="control-label col-sm-2">分组</label>
            <div class="col-sm-4">
                <select name="group_name" class="form-control">
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">程序</label>
            <div class="col-sm-4">
                <select name="program_name" class="form-control">
                </select>
            </div>
            <label class="control-label col-sm-2">状态</label>
            <div class="col-sm-4">
                <select name="is_disable" class="form-control">
                    <option value="0">启用</option>
                    <option value="1">禁用</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3">程序别名</label>
            <div class="col-sm-7">
                <input name="alias" type="text" class="form-control" placeholder="程序别名">
            </div>
            <span class="star">*</span>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3">容器最大内存</label>
            <div class="col-sm-7">
                <input name="docker_memory" type="text" class="form-control" placeholder="容器最大内存">
            </div>
            <span class="star">*</span>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3">tomcat映射端口</label>
            <div class="col-sm-7">
                <input name="map_tomcat_port" type="text" class="form-control" placeholder="tomcat映射端口">
            </div>
            <span class="star">*</span>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3">ssh映射端口</label>
            <div class="col-sm-7">
                <input name="map_ssh_port" type="text" class="form-control" placeholder="ssh映射端口">
            </div>
            <span class="star">*</span>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3">rpc映射端口</label>
            <div class="col-sm-7">
                <input name="map_rpc_port" type="text" class="form-control" placeholder="rpc映射端口">
            </div>
            <span class="star">*</span>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3">容器用户名</label>
            <div class="col-sm-7">
                <input name="docker_ssh_user" type="text" class="form-control" placeholder="容器用户名">
            </div>
            <span class="star">*</span>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3">容器用户密码</label>
            <div class="col-sm-7">
                <input name="docker_ssh_pwd" type="text" class="form-control" placeholder="容器用户密码">
            </div>
            <span class="star">*</span>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3">宿主机ip</label>
            <div class="col-sm-7">
                <input name="host_ip" type="text" class="form-control" placeholder="宿主机ip">
            </div>
            <span class="star">*</span>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3">宿主机用户名</label>
            <div class="col-sm-7">
                <input name="host_user" type="text" class="form-control" placeholder="宿主机用户名">
            </div>
            <span class="star">*</span>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3">宿主机用户密码</label>
            <div class="col-sm-7">
                <input name="host_pwd" type="text" class="form-control" placeholder="宿主机用户密码">
            </div>
            <span class="star">*</span>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3">宿主机ssh端口</label>
            <div class="col-sm-7">
                <input name="host_port" type="text" class="form-control" placeholder="宿主机ssh端口">
            </div>
            <span class="star">*</span>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3">宿主机别名</label>
            <div class="col-sm-7">
                <input name="host_alias" type="text" class="form-control" placeholder="宿主机别名">
            </div>
            <span class="star">*</span>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3">tomcat路径</label>
            <div class="col-sm-7">
                <input name="tomcat_path" type="text" class="form-control" placeholder="程序tomcat路径">
            </div>
            <span class="star">*</span>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3">程序测试地址</label>
            <div class="col-sm-7">
                <input name="connect_test_path" type="text" class="form-control" placeholder="程序测试地址">
            </div>
            <span class="star">*</span>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3">备注</label>
            <div class="col-sm-7">
                <input name="memo" type="text" class="form-control" placeholder="备注">
            </div>
        </div>
        <div class="form-group" style="float: right">
            <button id="btn_app_server_add" type="button" class="btn btn-primary" data-dismiss="modal">提交</button>
            <button type="button" class="btn btn-primary ok" data-dismiss="modal">取消</button>
        </div>
    </form>
</div>
<script>
    //------------------获取页面元素--------------------------------
    var $form_server_add = $("#form_server_add");//form
    //select change
    var $env_name = $form_server_add.find('select[name="env_name"]');
    var $group_name = $form_server_add.find('select[name="group_name"]');
    var $program_name = $form_server_add.find("select[name='program_name']");
    //----------------------END-------------------------------------
    //-----------------监控下拉框变化,注册事件----------------------
    <%- include('../initTomcatDropDownBoxAdd.ejs') %>
    //----------------------END-------------------------------------
    //表单提交
    $("#btn_app_server_add").click(function (err, result) {
        var url = "/tomcat/deployAppServer/add";
        var form_data = new FormData($form_server_add[0]);
        $.ajax({
            url: url,
            type: 'POST',
            data: form_data,
            async: true,
            contentType: false,
            processData: false,
            success: function (data) {
                var _obj = JSON.parse(data);
                if (_obj.status === "success") {
                    toastr.info(_obj.msg);
                } else {
                    toastr.warning(_obj.msg);
                }
            },
            error: function (data) {
                toastr.warning('内部服务器错误');
            },
            complete: function () {
                $("#tb_deploy_app_server").bootstrapTable("refresh");
            }
        });
    });
    //----------------------END-------------------------------------
</script>